html {
	border: 0;
	height: 100%;
	overflow: scroll;
}
div.print_instructions {
	background: #ffffef;
	border-bottom: solid 1px #888;
	padding: 5px;
	font-family: "Lucida Grande", "Verdana", "Arial", "Helvetica", Sans-serif;
	font-size: 80%;
	color: #808080;
}
@media print {
	div.print_instructions {
		display: none;
	}
	div.page_end {
		page-break-after: always;
	}
	div.link_to_top {
		display: none;
	}
}
span.hidden {
	display: none;
}
span.child_h0_link {
	background: transparent!important;
}
div.child_window_header {
	display: none!important;
}
span.child_window_header_title {
	display: none!important;
}
div.child_window {
	/*display: none!important;*/
	display: block!important;
	position: static;
	width: auto;
	height: auto;
	background: #fff;
	overflow-y: visible;
	padding: 0;
	border: dotted 1px #eee;
}
div.child_window_footer {
	display: none!important;
}
div.child_window_close {
	display: none!important;
}
div.child_window_shadow {
	display: none!important;
}
div.child_window_background {
	display: none!important;
}
div.child_h0 {
	background: #333 url(../frame_images/f_chld_win_hdr.png) repeat-x 0 0!important;
	vertical-align: middle;
	padding: 5px 20px;
	color: #fff;
	font-size: 130%;
	font-weight: bold;
	line-height: 120%;
}